name: CI
on: push

jobs:
  lint:
    name: Run Vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: errata-ai/vale-action@master
        with:
          files: docs
          styles: |
            https://github.com/errata-ai/write-good/releases/latest/download/write-good.zip
